
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:wheat
}

body {
  background: linear-gradient(135deg, #002fff 0%, #060169 100%);
  background-attachment: fixed;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

